logs
target
metals.sbt
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.bloop
/.metals
/.g8
/.dir-locals.el

# Local config files
/conf/application.dev.conf
/deploy/docker-compose.dev.yaml
/conf/application.funTest.conf
